.bg{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-image: linear-gradient(#b3d4fa, #40a8e5);
  //background: linear-gradient(rgba(0, 108, 172, 1), rgba(0, 122, 195, .7));
}
