.container{
  width:95%;
  height:auto;
  display:flex;
  flex-direction:row;

  .left{
    width:50%;
    display:flex;
    flex-direction:row;
    align-Items:center;

    img{
      width:160px;
    }
  }

  .right{
    width:50%;
    height:auto;

    li{
      margin:5px 20px 0px 20px;
      font-size:0.9em;
      cursor: pointer;
      //text-decoration: underline;
      list-style: none;
      background: url("../img/diamon.png") no-repeat;
      background-size: 15px 15px;
      padding-left: 20px;
    }
    p{
      margin:5px 20px 20px 20px;
      font-size:0.9em;
      text-indent: 2em;
    }

    .bottom{
      display: flex;
      flex-direction: row;

      img{
        height: 150px;
      }

      //img:hover{
      //  transform: scale(1.1);
      //  transition-duration: 300ms;
      //}

    }
  }
}
